*

!.gitignore
!init.lua

!lua/
!lua/ericson/
!lua/ericson/**

!pack/
!pack/my_pack/
!pack/my_pack/**

!syntax/
!syntax/**

!after/
!after/ftplugin/
!after/ftplugin/**

!lsp/
!lsp/**

!lua/ericson/dev/nap
!lua/ericson/dev/nap/**
